.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

nav {
    color: white;
    text-align: left;
}

div {
    background-color: linear-gradient(90deg, #000000 0%, #434343 100%);;
}
