.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
}

.side-nav-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.dashboard-title {
    margin: 60px 0 20px 0;
    text-align: center;
    color: white
}

.logout-button {
    position: absolute;
    background: transparent;
    top: 10px;
    right: 20px;
}

.logout-button :hover{
    color: antiquewhite;
    background-color: transparent;
}